//colors
$Bright-orange: hsl(31, 77%, 52%);
$Dark-cyan: hsl(184, 100%, 22%);
$Very-dark-cyan: hsl(179, 100%, 13%);

//Neutral 

$Transparent-white-paragraph: hsla(0, 0%, 100%, 0.75);
$Very-light-gray_bg_heading_button: hsl(0, 0%, 95%);

//Typography
//bory fontsize
$Font-size: 15px;

//Font-family
//para
$Lexend-Deca: 'Lexend Deca', sans-serif;
$Lexend-Deca-fontweight: 400;
//heading
$Big-shoulders: 'Big Shoulders Display', cursive;
$Big-shoulders-fontweight: 700;

// - Family: [Lexend Deca](https://fonts.google.com/specimen/Lexend+Deca)
// - Weights: 400

// - Family: [Big Shoulders Display](https://fonts.google.com/specimen/Big+Shoulders+Display)
// - Weights: 700